<div class="card text-white bg-dark mb-4">
  <div style="position:relative">
    <img class="card-img-top" src="../../../../assets/img/recipe-box/salmon.jpg" alt="Card image cap">
    <div class="card-img-overlay">
      <h5 class="card-title">Fresh Salmon</h5>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="btn-group">
      <button class="btn btn-outline-light btn-sm">View</button>
      <button class="btn btn-outline-light btn-sm">Edit</button>
    </div>
  </div>
</div>
