<div class="card text-white bg-dark mb-4">
  <div style="position:relative; min-height:150px">
    <img class="card-img-top" src="{{recipe.imageURL||defaultImg}}" alt="{{recipe.description}}">
    <div class="card-img-overlay">
      <h5 class="card-title">{{recipe.name}}</h5>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{recipe.description}}</p>
    <div class="btn-group">
      <button class="btn btn-outline-light btn-sm" [routerLink]="['./',id]">View</button>
      <button class="btn btn-outline-light btn-sm" [routerLink]="['./',id,'edit']">Edit</button>
    </div>
    <span style="float:right">
   <i class="far fa-clock"></i> {{recipe.cookingTime}} min
  </span>
  </div>
</div>
