<section>
  <h3 style="text-align:center">{{newIssue ? 'New':'Edit'}} {{project}} issue</h3>
  <form [formGroup]="issueForm" fxLayout="column"
  fxLayoutAlign="center center">
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Title" formControlName="issue_title" required>
      <mat-error *ngIf="issueForm.hasError('issue_title')">Title required</mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="textbody">
      <textarea type="text" matInput placeholder="Description" rows="6"
        formControlName="issue_text" required></textarea>
        <mat-error *ngIf="issueForm.hasError('issue_text')">Description or text required</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Assigned to" formControlName="assigned_to">
    </mat-form-field>
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Status" formControlName="status_text">
    </mat-form-field>
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Created by" formControlName="created_by" required>
    </mat-form-field>
    <div class="button-group">
      <mat-button-toggle-group formControlName="open">
        <mat-button-toggle [ngClass]="{open:issueForm.get('open').value}"
        [value]="true">Open</mat-button-toggle>
        <mat-button-toggle [ngClass]="{closed:!issueForm.get('open').value}"
        [value]="false">Closed</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="button-row" fxLayout fxLayoutGap="20px">
      <button mat-flat-button color="accent" (click)="saveIssue()" type="button"
      [disabled]="issueForm.invalid || issueForm.pristine" autofocus>Save</button>
      <button mat-flat-button color="primary" routerLink='../'>Cancel</button>
      <button *ngIf="!newIssue" mat-flat-button color="warn" (click)="deleteIssue()">Delete</button>
    </div>
    <div *ngIf="!newIssue" fxLayout="column" fxLayoutAlign="center center">
      <span>Last updated {{issueForm.get('updated_on').value | date:'short'}}</span>
      <span>Created on {{issueForm.get('created_on').value | date:'short'}}</span>
    </div>
  </form>
</section>
