<section fxLayout fxLayoutAlign="center">
  <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign.xs="center center"
  fxLayoutAlign="space-evenly">

  <div style="width:100%" fxLayoutAlign="center" fxLayout>
    <h3 style="text-overflow:ellipsis; overflow:hidden;">{{project}}</h3>
  </div>

  <div *ngIf="issueList?.length==0">
    <h3>'{{currentSearchInput}}' issue not found</h3>
    <p>Create a new issue?</p>
    <div class="button-row" fxLayout fxLayoutAlign="space-around">
      <button mat-flat-button class="yes" [routerLink]="['./','issue']" [queryParams]="{title:currentSearchInput}">Yes</button>
      <button mat-flat-button class="no" color="warn" (click)="clearSearch()">No</button>
    </div>
  </div>

  <button mat-button *ngFor="let issue of issueList"
  [routerLink]="['./','issue']" [queryParams]="{id:issue._id}">
    <mat-card [class.open]="issue.open">
      <mat-card-title>
        {{issue.issue_title}}
      </mat-card-title>
      <mat-card-subtitle class="mb-2">
        <strong class="opaque">{{issue.open ? 'Open' : 'Closed'}}</strong>
      </mat-card-subtitle>
      <mat-card-content ngClass.xs="mat-card-content-xs">
        {{issue.issue_text | truncateText: 122}}
      </mat-card-content>
      <mat-card-subtitle>
         {{issue.status_text ? 'Status - '+ issue.status_text: 'No status'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{issue.assigned_to ? 'Assigned to - ' + issue.assigned_to : 'No assignee'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Created by - {{issue.created_by}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Updated - {{issue.updated_on | date: 'short'}}
      </mat-card-subtitle>
    </mat-card>
  </button>
  </div>
</section>
