code{
  color:lightblue;
}

.badge{
  margin-right:1rem;
}

.small-header{
  margin-top:1rem;
}

.code-container{
  background-color:#555;
  padding-left: .75rem;
  padding-top: .25rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
}

.response{
  color:gold;
}

.paramName{
  white-space: nowrap;
}

a:link {
    color: rgb(170, 180, 255);
}

/* visited link */
a:visited {
    color: rgb(162, 121, 162);
}

/* mouse over link */
a:hover {
    color: rgb(150, 155, 193);
}

/* selected link */
a:active {
    color: rgb(208, 217, 255);
}
