section{
  margin:10px;
}

mat-card{
  width:280px;
  margin:10px;
  background-color: gold;
  text-align:left !important;
  color:black;
}

mat-card-subtitle{
  color:rgba(0,0,0,.8)
}

button:focus{
  outline:none;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.yes{
  background-color: green;
}

mat-card-title{
  text-overflow:ellipsis;
  overflow:hidden;
}

.mat-button{
  padding:0
}

.mat-flat-button.mat-warn{
  background-color: maroon;
}
