<section fxLayout fxLayoutAlign="center">
  <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign.xs="center center"
  fxLayoutAlign="space-evenly">
  <div style="width:100%" fxLayoutAlign="center" fxLayout *ngIf="projectList?.length>0">
    <h3>Projects</h3>
  </div>
  <div *ngIf="projectList?.length==0">
    <h3>'{{searchInput}}' project not found</h3>
    <p>Would you like to create a new issue for this project?</p>
    <div class="button-row" fxLayout fxLayoutAlign="space-around">
      <button mat-flat-button class="yes" [routerLink]="['./',searchInput,'issue']">Yes</button>
      <button mat-flat-button class="no" color="warn" (click)="clearSearch()">No</button>
    </div>
  </div>
  <button mat-button *ngFor="let project of projectList" [routerLink]="['./',project.name]">
    <mat-card>
      <mat-card-title>
        {{project.name}}
      </mat-card-title>
      <mat-card-subtitle>
        <span style="font-weight:bold">
          {{project.open}} open
        </span>
        <span style="float:right">
          {{project.closed}} closed
        </span>
      </mat-card-subtitle>
      <mat-card-subtitle>
        Last updated: {{project.latest | date:"short"}}
      </mat-card-subtitle>
    </mat-card>
  </button>
  </div>
</section>
