section{
  margin:15px;
}

mat-card{
  width:280px;
  margin:10px;
  background-color: gold;
  text-align:left !important;
}

button:focus{
  outline:none;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.yes{
  background-color: green;
}
