#stage{
  display:flex;
  flex:1;
  color:#DDD;
  background:url("../../assets/img/night-road.jpg") no-repeat center center;
  background-size:cover;
  height:100%;
  align-items: center;
  text-align: center;
  width:100vw;
  justify-content: center;
}

#stage-title{
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.7))
}

@media screen and (min-width:576px){
  .marginRight{
    margin-right: 3rem;
  }
}
