<section id="stage">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="stage-title">
        <h1>Driving the web</h1>
        <p>Building modern websites and applications</p>
        </div>
        <button class="btn btn-outline-light marginRight" type="button"
        routerLink="portfolio">Portfolio</button>
        <button class="btn btn-outline-light" type="button"
        routerLink="about">About</button>
      </div>
    </div>
  </div>
</section>
