#stage{
  color:white;
  background:url("../../assets/img/night-road.jpg") no-repeat center center;
  background-size:cover;
  height:80vh;
  display:flex;
  align-items: center;
  text-align: center;
}

#stage-title{
  width:100%;
}
