.jumbotron {
  padding-top: 20rem;
  padding-bottom: 20rem;
  margin-bottom: 0;
  background-image:url('../../../assets/img/night-road.jpg');
  background-repeat:no-repeat;
  background-position: bottom center;
  background-size:cover;
  border-radius:0;
}

#stage{
  height:100%;
  align-items: center;
  display:flex;
}

#stageContent{
  transform:translateY(-65%);
}

h1, p{
  color:white !important;
}
