<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h1>About</h1>
      <p>I am a freelance web developer specializing in building
      front-end pages and productivity apps. My goal
      is to create custom-tailored solutions to meet your
      personal or business needs.
      </p>
      <h3 class="pt-3">Tech stack</h3>
      <div class="row">
        <!-- TODO: Responsively scale the images to fit nicely in all
        screen sizes. -->
        <div class="col-sm-4 col-6">
          <div class="card" style="background-color:inherit;"
          class="img-responsive">
            <img src="../../../assets/img/angular.png" alt="" class="card-img-top">
            <div class="card-body" style="padding-top:0">
              <h5 class="card-title" style="text-align:center">Angular</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">

    </div>
  </div>
</div>
