<mat-card [routerLink]="['.',thread._id]">
  <mat-card-content>
    {{thread.text}}
  </mat-card-content>
  <mat-card-subtitle fxLayoutAlign="space-between">
    <span>
      {{getTimeString(thread)}}
    </span>
    <span>
      {{thread.replies.length}} replies
    </span>
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="reply($event)">Reply</button>
    <button mat-button [color]="thread.reported ? 'warn' : ''" [disabled]="thread.reported"
    (click)="report($event)">
    <span (click)="stopProp($event)">{{thread.reported ? 'Reported' : 'Report'}}</span>
    </button>
    <button mat-button (click)="delete($event)">{{!showDelete ? 'Delete' : 'Cancel'}}</button>
  </mat-card-actions>
  <div class="input-group input-group-sm delete-input" *ngIf="showDelete" (click)="stopProp($event)">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="password" class="form-control" [formControl]="deletePassword">
    <div class="input-group-append">
      <button class="btn btn-danger btn-sm" [disabled]="deletePassword.invalid"
      (click)="deleteThread()">Delete</button>
    </div>
  </div>
</mat-card>
