:host{
  width:100%;
}
a{
  color:inherit;
}

.card-img-overlay{
  opacity:0;
  transition:.5s ease;
  background-color: #111;
}

.card:hover .card-img-overlay{
  opacity:.90;
}

.card:hover{
  transition:.5s ease;
  border:1px solid grey;
  border-radius:.1rem;
}

@media screen and (min-width:576px) and (max-width:767px){
  .card-img-overlay{
    padding:.50rem;
  }
}

.card-text{
  user-select: none;
}
