<div class="container mt-4">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="btn-group mb-2" dropdown>
        <button dropdownToggle type="button"
        class="btn btn-sm btn-secondary dropdown-toggle"
        style="min-width:8rem">
          {{sortOption}}
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let option of sortOptions">
            <a class="dropdown-item" (click)="getPortfolioData(option)" style="cursor:pointer">{{option}}</a></li>
        </ul>
      </div>
    </div>
    <!--- Search bar, commented out because there aren't enough projects to justify this :p-->
    <!-- <div class="col-sm-6 offset-sm-1 offset-md-0 col-md-5 col-lg-4">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div> -->
    <div *ngIf="sortData">
      <div class="col-12" *ngFor="let header of sortData.sortedHeaders">
        <h4 style="text-align:center">{{header}}</h4>
        <div class="row">
          <app-project *ngFor="let project of sortData.headersObj[header]"
          [project]="project" (focus)="log()" class="col-sm-6 col-lg-4"></app-project>
      </div>
      </div>
  </div>
</div>
</div>
