<div class="container mt-4">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="btn-group mb-2" dropdown>
        <button dropdownToggle type="button"
        class="btn btn-sm btn-secondary dropdown-toggle"
        style="min-width:8rem">
          {{sortOption}}
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let option of sortOptions">
            <a class="dropdown-item" (click)="getPortfolioData(option)" style="cursor:pointer">{{option}}</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-sm-6 offset-sm-1 offset-md-0 col-md-5 col-lg-4">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div> -->
    <div *ngIf="sortData">
      <div class="col-12" *ngFor="let header of sortData.sortedHeaders">
        <h4 style="text-align:center">{{header}}</h4>
        <div class="row">
          <!-- <div class="col-sm-6 col-lg-4" *ngFor="let project of sortData.headersObj[header]">
            <div class="card" style="background-color:inherit" (mouseenter)="log()"
            (mouseleave)="logOut()">
              <img src="{{project.imagePath}}" alt="{{project.name}}" class="card-img-top img-responsive"
              style="border:object-fit:cover">
              <div class="card-img-overlay" style="overflow:hidden">
                <p class="card-text">{{project.description}}</p>
                  <div class="d-flex justify-content-center">
                  <a href="{{project.link}}" class="btn btn-light btn-sm" role="button"
                  style="color:black;" *ngIf="linkActive">
                    <i class="fas fa-link"></i>Link
                  </a>
                  </div>
              </div>
            </div>
            <div class="card-body" style="padding-top:.5em">
              <h6 class="card-title" style="text-align:center">{{project.name}}</h6>
            </div>
          </div> -->

          <app-project *ngFor="let project of sortData.headersObj[header]"
          [project]="project" (focus)="log()" class="col-sm-6 col-lg-4"></app-project>
      </div>
      </div>
  </div>
</div>
</div>
