.light-text{
  color:white;
}

.navbar-dark{
  background-color: #1d1d1d;
}

.orange{
  color:rgb(208, 132, 4)
}

.invert {-webkit-filter: invert(100%); filter: invert(100%);}

#navbar-header a{
  color:rgb(119, 161, 254)
}

#navbar-buttons a{
  color:white;
}
