<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">I am a Full-Stack Developer using web technologies to improve
          the productivity and workflow for businesses and organizations.</p>
      </div>
    <div class="col-sm-4 py-4">
      <h4 class="text-white">Contact</h4>
      <ul class="list-unstyled">
        <li><a href="#">Github Page <img class='invert' src='../../assets/img/github.ico' style='max-height:24px'/></a></li>
        <li><a href="https://www.freecodecamp.com/doubleutf">Freecode Camp <img src='../../assets/img/fcc.png' style='max-height:30px' class='invert' /></a></li>
        <li class='light-text'><a href="mailto:dlau373@gmail.com">Email:</a> dlau373@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">David Lau</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
