mat-card-content{
  font-size: 1rem;
  margin-bottom: .5rem;
}

mat-card{
  background-color: rgba(18, 135, 196, 0.7);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: .25rem;
}

.main-thread{
  margin-bottom: 10px;
  width:100%
}

div{
  max-width: 690px;
}

a{
  color:rgba(255,255,255,0.75);
}

a:hover{
  color:white;
}

mat-card-subtitle{
  margin-bottom: 0;
}

mat-card-actions{
  padding-top:0;
}

.addReply{
  margin-top: 1rem;
  width:100%;
}

mat-form-field, .replies{
  width:100%;
}

.delete{
  max-width: 250px;
}

.mat-button.mat-warn[disabled]{
  color:#f44336;
}
