.sidenav{
  list-style-type: none;
  padding-left: 0;
  position:sticky;
  top:20px;
}

.sidenav-item{
  border-bottom:1px solid grey;
  padding-bottom: 1rem;
  padding-top:1rem;
  text-align: center;
}

h3{
  margin-top: 1rem;
}

.side-link:link,.side-link:visited{
  color:white;
}

.side-link:hover{
  text-decoration: none;
  color:rgb(235, 255, 111);
  text-shadow: 0 0 15px yellow;
  cursor: pointer;
}

.dropdown{
  display:none;
}

@media screen and (max-width:767px) {
  .sidenav{
    display:none;
  }

  .dropdown{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
}

.dropdown-menu{
  left:auto !important;
}

.box{
  padding-bottom:1rem;
  margin-bottom: 1rem;
}

.notLast{
  border-bottom:1px solid grey;
}

code{
  color:lightblue;
}

.response{
  color:gold;
}

.code-container{
  background-color:#555;
  padding-left: .75rem;
  padding-top: .25rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
}

.small-header{
  margin-top:1rem;
}

.table{
  margin-bottom: 0;
}

.dropdown-item{
  cursor: pointer;
}

.badge{
  margin-right:1rem;
}
