.sidenav{
  list-style-type: none;
  padding-left: 0;
  position:sticky;
  top:63px;
}

.sidenav-item{
  border-bottom:1px solid grey;
  padding-bottom: 1rem;
  padding-top:1rem;
  text-align: center;
}

h3{
  margin-top: 1rem;
}

.side-link:link,.side-link:visited{
  color:#DDD;
}

.side-link:hover{
  text-decoration: none;
  color:#FFF;
  text-shadow: 0 0 15px yellow;
  cursor: pointer;
}

.dropdown{
  display:none;
}

@media screen and (max-width:767px) {
  .sidenav{
    display:none;
  }

  .dropdown{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
}

.dropdown-menu{
  left:auto !important;
}

.box{
  padding-bottom:1rem;
  margin-bottom: 1rem;
}

.dropdown-item{
  cursor: pointer;
}

.active{
  color:white !important;
}
