:host{
  display:flex;
  flex:1;
  height:100%;
}

h3{
  color:white;
  background-color:#006400;
  margin-bottom: 0;
  padding: .5em 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #555;
}

.linkUpdate{
  text-decoration: underline;
  cursor: pointer;
  border-radius: .5em;
  user-select: none;
}

.linkUpdate:hover{
  background-color: grey;
  transition: .5s ease-out;
}

.activeLink{
  background-color:#289E28;
  border-radius:.5em;
}
