<div class="container mt-2" fxLayout="column" fxLayoutGap="10px">
  <h3 style="text-align:center">{{boardName}}</h3>
  <mat-card *ngFor="let thread of threads" [routerLink]="['.',thread._id]">
    <mat-card-content>
      {{thread.text}}
    </mat-card-content>
    <mat-card-subtitle fxLayoutAlign="space-between">
      <span>
        {{getTimeString(thread)}}
      </span>
      <span>
        {{thread.replies.length}} replies
      </span>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Reply</button>
      <button mat-button>Report</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
