<div class="container mt-2" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <h3 style="text-align:center">{{boardName}}</h3>
  <div *ngIf="threads?.length==0">
    <h5>There are no threads here, would you like to
      <a [routerLink]="['.','new']">create one?</a></h5>
  </div>
  <div class="threads">
    <af-thread-item *ngFor="let thread of threads; index as i" [thread]="thread"
    [threadIndex]="i" (onDelete)="deleteThread($event)">
    </af-thread-item>
  </div>
</div>
