/* You can add global styles to this file, and also import other style files */
html{
  /* scrollbar jump fix from https://aykevl.nl/2014/09/fix-jumping-scrollbar */
  width:100vw;
  overflow-x: hidden;
}

body,html{
  height:100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111;
    border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
