<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="./" class="appTitle">
      <span>Issue Tracker</span>
    </a>

    <div fxLayout fxFlex fxLayoutAlign="end">
      <div class="input-group input-group-sm" fxHide.xs="true">
        <input type="text" class="form-control textbar" [formControl]="searchInput"
        placeholder="Search or add project" [value]="searchInput.value">
      </div>
      <div fxHide.gt-xs="true">
        <ul fxLayout fxFlexAlign="center" fxLayoutGap="10px"
           class="icon-list">
          <li>
            <button mat-icon-button (click)="activateSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-xs="true" *ngIf="showSearchBar" fxLayoutAlign="center"
  (clickOutside)="closeSearchBar()" [exclude]="'button'">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control textbar" [formControl]="searchInput"
      placeholder="Search or add project" #mobileSearch [value]="searchInput.value">
    </div>
  </mat-toolbar-row>

</mat-toolbar>
