<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="./" class="appTitle">
      <span>Issue Tracker</span>
    </a>

    <div fxLayout fxFlex fxLayoutAlign="end" *ngIf="searchMode !='none'">
      <div class="input-group input-group-sm" fxHide.xs="true">
        <input type="text" class="form-control textbar" [formControl]="searchInput"
        placeholder="{{placeHolder}}" [value]="searchInput.value">
      </div>
      <button mat-icon-button [disabled]="!searchInput.value"
      (click)="addIssue()" fxHide.xs="true">
      <mat-icon aria-label="Add project and issue">add_circle_outline</mat-icon>
    </button>
      <div fxHide.gt-xs="true">
        <ul fxLayout fxFlexAlign="center" fxLayoutGap="10px"
           class="icon-list">
          <li>
            <button mat-icon-button (click)="activateSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-xs="true" *ngIf="showSearchBar && searchMode !='none'" fxLayoutAlign="center"
  (clickOutside)="closeSearchBar()" [exclude]="'button'">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control textbar" [formControl]="searchInput"
      placeholder="{{placeHolder}}" #mobileSearch [value]="searchInput.value">
      <button mat-icon-button [disabled]="!searchInput.value"
      (click)="addIssue()">
      <mat-icon aria-label="Add project and issue">add_circle_outline</mat-icon>
    </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
