<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="addThread mt-3">
    <h3>New thread</h3>
    <a [routerLink]="['..']">{{boardName}}</a>
    <form [formGroup]="threadForm" fxLayout="column">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Text</mat-label>
        <textarea matInput rows="6" formControlName="text"></textarea>
      </mat-form-field>
      <mat-form-field color="accent" class="delete">
        <mat-label>Delete password</mat-label>
        <input matInput placeholder="Delete password" type="password"
        formControlName="delete_password">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-flat-button color="accent" [disabled]="threadForm.invalid"
        (click)="addThread()" type="button">Add new thread</button>
      </div>
    </form>
  </div>
</div>
