<div class="container">
  <div class="row mt-3">
    <div class="col-12" *ngIf="newRecipe; else editRecipe ">
      <h2>New Recipe</h2>
    </div>
    <ng-template #editRecipe>
      <div class="col-12">
        <h2>Editing <a [routerLink]="['..']" style="display:inline-block">{{currentRecipe.name}}</a></h2>
      </div>
    </ng-template>
    <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-4">
      <form [formGroup]="recipeForm">
        <label for="name">Recipe Name*</label>
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <label for="name">Description*</label>
        <div class="input-group input-group-sm mb-3">
          <textarea class="form-control" id="description" rows="3"
          formControlName="description"></textarea>
        </div>
        <div formArrayName="directions">
          <label for="name">Directions*</label>
          <!-- <button type="button" class="btn btn-outline-info btn-sm mb-1"
          style="margin-left:7%">Add</button> -->
          <div class="input-group input-group-sm mb-2"
          *ngFor="let directionCtrl of recipeForm.get('directions')['controls'];
          let i=index">
                <span class="vertical-center">{{i+1}}.</span>
                 <textarea class="form-control" id="directions"
              [formControlName]="i" style="margin-left:5px; border-radius:.25rem !important"></textarea>
              <i class="fas fa-trash-alt trash-icon"></i>
          </div>
          <i class="fas fa-plus" style="margin:auto"></i>
        </div>
      </form>
    </div>

    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4 offset-md-1 offset-lg-1">
      <form [formGroup]="recipeForm">
      <label for="thumbnail-image">Thumbnail image link</label>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" id="thumbnail-img" formControlName="imageURL">
      </div>
      <label for="background-image">Background image link</label>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" id="background-img" formControlName="imgLgURL">
      </div>
      <div class="row">
        <div class="col-8">
          <label for="name">Cooking time*</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" id="time" formControlName="cookingTime">
            <div class="input-group-append">
              <span class="input-group-text">Minutes</span>
            </div>
          </div>
        </div>
      </div>
      <label for="name">Ingredients*</label>
      <button type="button" class="btn btn-outline-info btn-sm mb-1"
      style="margin-left:7%">Add</button>
      <label for="quantity" style="float:right">Quantity*</label>
      <div formArrayName="ingredients">
        <div class="row mb-2" *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls'];
        let i=index" [formGroupName]="i">
          <div class="col-8" style="padding-right:10px">
            <div class="input-group input-group-sm">
              <span class="vertical-center">{{i+1}}.</span>
              <input type="text" class="form-control" id="ingredients" formControlName="name"
              style="border-radius:.25rem !important; margin-left:5px;">
            </div>
          </div>
          <div class="col-4" style="padding-left:10px">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" id="quantity" formControlName="quantity"
              style="border-radius:.25rem !important">
              <i class="fas fa-trash-alt trash-icon"></i>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-outline-success" [disabled]="recipeForm.pristine || recipeForm.invalid"
      >Save</button>
      <button type="button" class="btn btn-outline-danger"
      *ngIf="!newRecipe">Delete</button>
      <button type="button" class="btn btn-outline-secondary"
      [routerLink]="['..']" >Cancel</button>
    </div>
  </div>
</div>
