label{
  margin-bottom:0.1rem;
}

.vertical-center{
  align-self: center;
}

.trash-icon{
  padding-left:5px;
  font-size:1.3rem;
  cursor:pointer;
}

.add-green{
  color:green;
  font-size:1.2rem;
  margin:auto;
  cursor:pointer;
}
