mat-form-field{
  font-size:1rem;
  text-align: center;
  display:flex;
  justify-content: center;
}

.form-wrapper>*{
  display:flex;
  flex-direction: column;
  width:190px;
}

.form-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
input{
  font-size:2rem;
  text-transform: uppercase;
}

h1{
  font-size: 1.5rem;
  text-align: center;
}

.whole-page{
  position:relative;
  height:100%;
}

.whole-page::before{
  content:'';
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
  background-image: url('https://storage.googleapis.com/davidlau-200917.appspot.com/images/stock_market_optimized.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: opacity(.7) grayscale(50%);
}

.small-spacer{
  width:1rem;
}

.content-container{
  max-width:350px;
  min-height:320px;
  max-height:350px;
  position:relative;
  background-color: rgba(0,0,0,.8);
  padding:1rem;
  border: 1px solid grey;
  border-radius:1rem;
}

mat-spinner{
  margin:2rem 0rem;
}

.ticker{
  font-size: 2rem;
  text-transform: uppercase;
  grid-area:ticker;
}

.stock-card{
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows:  1fr 1fr;
  grid-template-areas:
    "ticker price"
    "ticker likes";
}

.likes{
  grid-area:likes;
  justify-self:center;
  line-height: 1.2;
}

.price{
  grid-area:price;
  justify-self:center;
  color:rgb(63, 201, 34);
  align-self:end;
  line-height: 1.2;
}

.card1{
  padding-bottom: 1rem;
}

.card2{
  border-top: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.error{
  margin:0 2rem;
  color:red;
}

.stock-card-lg{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.ticker-lg{
  text-transform: uppercase;
  font-size:4rem;
  line-height: 1.2;
}

.price-lg{
  color:rgb(63, 201, 34);
  font-size:2rem;
  line-height: 1.3;
}

.likes-lg{
  font-size:2rem;
  line-height:1.3;
  margin-bottom:10px;
}
