mat-form-field{
  font-size:1rem;
  text-align: center;
  display:flex;
  justify-content: center;
}

.form-wrapper>*{
  display:flex;
  flex-direction: column;
  width:190px;
}

.form-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
input{
  font-size:2rem;
  text-transform: uppercase;
}

h1{
  font-size: 1.5rem;
  text-align: center;
}

.spacer{
  flex-grow: 1;
}

.main-content{
  flex-grow:4;
}

.whole-page{
  position:relative;
  height:100%;
}

.whole-page::before{
  content:'';
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
  background-image: url('https://storage.googleapis.com/davidlau-200917.appspot.com/images/stock_market_optimized.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: opacity(.7) grayscale(50%);
}

.small-spacer{
  width:1rem;
}

.content-container{
  max-width:350px;
  height:300px;
  position:relative;
  background-color: rgba(0,0,0,.8);
  padding:1rem;
  border: 1px solid grey;
  border-radius:1rem;
}
